
.list-product {
    padding: 20px;
    background-color: white;
  }
  
  .listproduct-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .listproduct-table th,
  .listproduct-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .listproduct-table th {
    background-color: #f2f2f2;
  }
  
  .listproduct-product-icon {
    width: 50px;
    height: auto;
  }
  
  .remover-icon {
    cursor: pointer;
  }
  
