*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  font-family: 'poppins';
}

a{
  text-decoration: none;
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
